# Example basic Settings.
STATIC=example.appspot.com
DYNAMIC=dynamic-dot-example.appspot.com
DRIVER=authenticated_chrome

# For IAP
CLIENT_ID='ssadjklfslldgmlngsfsdf.apps.googleusercontent.com'
GOOGLE_APPLICATION_CREDENTIALS='./qa/secrets/example.json'
GOOGLE_API_KEY='sgdfdgukahflsjdghssss'
